.Indicator
{
    margin-top: 140px;
    margin-left: 200px;
    font-size: medium;
}

.AddProject{
    width: 100px;
    margin-left: 50px ;
    margin-top: 20px;
  }

  .field {
      margin-left: 20px;
      width: 250px;
  }