  #search{  
    width: 100px;
    float: left;
  }

  .projfield {
    text-align: left;
    margin-left: 20px;
  }

  .projdetails {
    border: 1px solid black;
    width: 100%;
  }

  .projdetailheader {
    margin-left: 200px;
  }

  .SearchSection {
    margin-left: 20px;
  }

  .BillingTable {
    border: 1px solid black;
    width: 100%;
  }

  .resentry {
    font-style: initial; 
  }