.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Label {
   margin-left: 20px;
}

.App-header {
  background-color: greenyellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: darkslategrey ;
  min-height: 60px;
}

.Content {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.rowht {
  text-align: left;
  margin-left: 20px;
}

#AddProject{
  width: 100px;
  margin-left: 50px ;
}

#AddResource{
  width: 100px;
  margin-left: 50px ;
}

#search{
  width: 100px;
  margin-left: 100px ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  margin-left: 20px;
  width: 250px;
}

.Add{
  width: 100px;
  margin-left: 50px ;
  margin-top: 20px;
}

.Indicator, .Label {
  font-size: 20px;
  font-weight: bold;
}

.Indicator {
    margin-left: 200px;
}

.username, .logout, .usernamenoaccess, .logoutnoaccess {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
}

.usernamenoaccess, .logoutnoaccess {
   margin-top: 10px;
}

.username, .usernamenoaccess {
  color: white;
}

.logoutnoaccess {
  margin-right: -150px;
}

.resourcefield {
  margin-right: 100px;
}

.resourcesection {
  display: flex;
}

.name {
  position: absolute;
  left: 20px;
}

.billing {
  position: absolute;
  left: 160px;
}

.days {
  position: absolute;
  left: 300px;
}